#### Topics to be covered
- Aggregations and Group by

In [1]:
#import pandas library and provide alias name as pd
import pandas as pd
import numpy as np

trend_data = pd.read_csv('Data/SearchTrendData.csv')
trend_data.head()

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
0,20/09/2015,32,9,11,11,4
1,27/09/2015,35,10,11,11,4
2,4/10/2015,38,10,12,11,4
3,11/10/2015,37,9,12,10,4
4,18/10/2015,38,9,12,10,4

In [3]:
t_data = trend_data[-10:]
t_data = t_data.reset_index(drop=True) # For resetting index
print(t_data)

         Week  eLearning  DataScience  MachineLearning  \
0  12/07/2020         58           36               40
1  19/07/2020         55           36               40
2  26/07/2020         43           34               39
3   2/08/2020         44           34               37
4   9/08/2020         44           35               38
5  16/08/2020         41           36               40
6  23/08/2020         49           39               40
7  30/08/2020         62           37               40
8   6/09/2020         74           38               42
9  13/09/2020         80           39               39

   ArtificialIntelligence  DeepLearning
0                      21            15
1                      21            14
2                      20            14
3                      20            13
4                      21            13
5                      22            14
6                      21            14
7                      21            14
8                      24            14
9                      21            14

1a Aggregate - Moving Average

In [7]:
moving_average = t_data.rolling(window=3,min_periods=3) # Try changing the minimum period
print(moving_average.aggregate(np.max)) # Moving Average

   eLearning  DataScience  MachineLearning  ArtificialIntelligence  \
0        NaN          NaN              NaN                     NaN
1        NaN          NaN              NaN                     NaN
2       58.0         36.0             40.0                    21.0
3       55.0         36.0             40.0                    21.0
4       44.0         35.0             39.0                    21.0
5       44.0         36.0             40.0                    22.0
6       49.0         39.0             40.0                    22.0
7       62.0         39.0             40.0                    22.0
8       74.0         39.0             42.0                    24.0
9       80.0         39.0             42.0                    24.0

   DeepLearning
0           NaN
1           NaN
2          15.0
3          14.0
4          14.0
5          14.0
6          14.0
7          14.0
8          14.0
9          14.0

1b. Moving Average for selective column

In [8]:
moving_average_DS = t_data.rolling(window=3,min_periods=1)
print(moving_average_DS['DataScience'].aggregate(np.mean))

0    36.000000
1    36.000000
2    35.333333
3    34.666667
4    34.333333
5    35.000000
6    36.666667
7    37.333333
8    38.000000
9    38.000000
Name: DataScience, dtype: float64

1c. Finding max in the moving window

In [9]:
moving_average_DS = t_data.rolling(window=3,min_periods=1)
print(moving_average_DS['DataScience'].aggregate(np.max))

0    36.0
1    36.0
2    36.0
3    36.0
4    35.0
5    36.0
6    39.0
7    39.0
8    39.0
9    39.0
Name: DataScience, dtype: float64

1d. Standard Deviation and Variance

In [11]:
moving_average_DS = t_data.rolling(window=3,min_periods=1)
#print(moving_average_DS['DataScience'].aggregate(np.std))
print(moving_average_DS['DataScience'].aggregate(np.var))

0         NaN
1    0.000000
2    1.333333
3    1.333333
4    0.333333
5    1.000000
6    4.333333
7    2.333333
8    1.000000
9    1.000000
Name: DataScience, dtype: float64

1e. Aggregation on multiple columns

In [12]:
moving_average_DS = t_data.rolling(window=3,min_periods=1)
print(moving_average_DS[['DataScience','MachineLearning']].aggregate(np.mean))

   DataScience  MachineLearning
0    36.000000        40.000000
1    36.000000        40.000000
2    35.333333        39.666667
3    34.666667        38.666667
4    34.333333        38.000000
5    35.000000        38.333333
6    36.666667        39.333333
7    37.333333        40.000000
8    38.000000        40.666667
9    38.000000        40.333333

1e. Using multiple functions

In [14]:
moving_average_DS = t_data.rolling(window=3,min_periods=3)
print(moving_average_DS[['DataScience','MachineLearning']].aggregate([np.mean,np.min, np.max]))

  DataScience             MachineLearning
         mean  amin  amax            mean  amin  amax
0         NaN   NaN   NaN             NaN   NaN   NaN
1         NaN   NaN   NaN             NaN   NaN   NaN
2   35.333333  34.0  36.0       39.666667  39.0  40.0
3   34.666667  34.0  36.0       38.666667  37.0  40.0
4   34.333333  34.0  35.0       38.000000  37.0  39.0
5   35.000000  34.0  36.0       38.333333  37.0  40.0
6   36.666667  35.0  39.0       39.333333  38.0  40.0
7   37.333333  36.0  39.0       40.000000  40.0  40.0
8   38.000000  37.0  39.0       40.666667  40.0  42.0
9   38.000000  37.0  39.0       40.333333  39.0  42.0

In [15]:
trend_data['Year'] = trend_data['Week'].str.strip().str[-4:] 
# We covered this in Day 2 - Operation on a string and we are creating a new column
trend_data['Month'] = trend_data['Week'].str.strip().str[-7:-5] 
trend_data.head()

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning,Year,Month
0,20/09/2015,32,9,11,11,4,2015,09
1,27/09/2015,35,10,11,11,4,2015,09
2,4/10/2015,38,10,12,11,4,2015,10
3,11/10/2015,37,9,12,10,4,2015,10
4,18/10/2015,38,9,12,10,4,2015,10

2a. Performing Group by

In [16]:
trend_data.groupby('Year').DataScience.mean()

Year
2015     8.800000
2016    11.000000
2017    17.094340
2018    22.942308
2019    30.653846
2020    34.486486
Name: DataScience, dtype: float64

2b. Using group along with Lambda function that we learned in Day7

In [17]:
trend_data.groupby('Year').apply(lambda trend_data: trend_data.mean())

,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning,Year,Month
Year,,,,,,,
2015,32.533333,8.800000,12.200000,10.733333,4.066667,1.343468e+58,6.060673e+27
2016,26.500000,11.000000,15.865385,11.826923,6.692308,3.877311e+205,1.942502e+100
2017,26.075472,17.094340,28.660377,18.094340,12.150943,3.806041e+209,1.905851e+102
2018,30.269231,22.942308,36.500000,22.000000,14.173077,3.881157e+205,1.942502e+100
2019,35.519231,30.653846,40.730769,22.865385,14.538462,3.883081e+205,1.942502e+100
2020,61.594595,34.486486,40.351351,21.783784,14.297297,5.460005e+145,2.730003e+70

2c. Group by on multiple column

In [18]:
trend_data.groupby(['Year', 'Month']).DataScience.mean()

Year  Month
2015  09        9.50
      10        9.50
      11        8.60
      12        8.00
2016  01       10.40
               ...
2020  05       32.40
      06       33.75
      07       35.25
      08       36.20
      09       38.50
Name: DataScience, Length: 61, dtype: float64

2d. Group by and using multiple aggregation

In [19]:
trend_data.groupby(['Year']).DataScience.aggregate([np.mean, min, max, len, np.std])

           mean  min  max  len       std
Year
2015   8.800000    7   10   15  0.941124
2016  11.000000    9   14   52  1.546660
2017  17.094340   13   21   53  1.983239
2018  22.942308   19   27   52  1.974479
2019  30.653846   26   37   52  2.771597
2020  34.486486   28   39   37  2.652270

To Try
- Get the average trend score for Machine learning and Artificial Intelligence for every month and year (Concat year and month and keep it as one column)
- Find the sum of trend score for all the topics/subjects for each year where data is available
- Find the 7 day moving average of trend score for Machine Learning for the period 2017 and after