#### Topics to be covered today
1. List
    - Commonly used
    - Sortable
    - Sequence Type
    - Mutable (Can add or change)
2. Tuples
    - Immutable
    - Useful where the data doesn't change
    - Faster than list
    - Sequence Type
    
- Both can hold any values like integer, string or both

1a. Creating a list

In [34]:
companies = ["apple", "facebook", "google", "amazon"]
type(companies)

list

1b. Reading the elements

In [38]:
print(companies[3])

amazon

1c. Negative indexing mean

In [40]:
print(companies[-2])

google

In [41]:
print(companies[-3:])

['facebook', 'google', 'amazon']

In [43]:
print(companies[:-1])

['apple', 'facebook', 'google']

1d. Range of values and with negative indexing

In [44]:
print(companies[1:3])

['facebook', 'google']

In [45]:
print(companies[0:3:2])

['apple', 'google']

1e. Adding an item (Append and Insert)

In [46]:
companies.append("Tesla")
print(companies)

['apple', 'facebook', 'google', 'amazon', 'Tesla']

In [47]:
companies.insert(2, "Microsoft")
print(companies)

['apple', 'facebook', 'Microsoft', 'google', 'amazon', 'Tesla']

1f. Removing, deleting and pop

In [48]:
companies.remove("Tesla")
print(companies)

['apple', 'facebook', 'Microsoft', 'google', 'amazon']

In [49]:
companies.append("Tesla")
companies.append("Tesla")
print(companies)

['apple', 'facebook', 'Microsoft', 'google', 'amazon', 'Tesla', 'Tesla']

In [50]:
del companies[5]
print(companies)

['apple', 'facebook', 'Microsoft', 'google', 'amazon', 'Tesla']

In [52]:
companies.pop(2)
print(companies)

['apple', 'facebook', 'google', 'amazon']

1g. Copy a list - Why?

In [55]:
companies1 = companies
companies2 = companies.copy()
# Talk about the is function
print(companies is companies1)
print(companies is companies2)

True
False

In [54]:
print(companies1)
print(companies2)

['apple', 'facebook', 'google', 'amazon']
['apple', 'facebook', 'google', 'amazon']

In [56]:
companies.append("Zoom")
print(companies1)
print(companies2)

['apple', 'facebook', 'google', 'amazon', 'Zoom']
['apple', 'facebook', 'google', 'amazon']

1h. Combine lists

In [57]:
companies3 = companies1 + companies2
print(companies3)

['apple', 'facebook', 'google', 'amazon', 'Zoom', 'apple', 'facebook', 'google', 'amazon']

In [60]:
companies3 = companies1 + companies2 + [1, "One"]
print(companies3)

['apple', 'facebook', 'google', 'amazon', 'Zoom', 'apple', 'facebook', 'google', 'amazon', 1, 'One']

1i. Sorting

In [62]:
print(sorted(companies))

['Zoom', 'amazon', 'apple', 'facebook', 'google']

1j. Clearing the ist

In [63]:
companies3.clear()
print(companies3)

[]

1k. Other Operations

In [64]:
companies = ["apple", "facebook", "google", "amazon"]

In [66]:
print(companies*3)

['apple', 'facebook', 'google', 'amazon', 'apple', 'facebook', 'google', 'amazon', 'apple', 'facebook', 'google', 'amazon']

In [68]:
print(max(companies))
# Try max

google

2a. Tuples

In [69]:
companies_tup = ("apple", "facebook", "google", "amazon")
print(type(companies_tup))

<class 'tuple'>

2b. Trying to replace a tuple element

In [72]:
companies_tup = ("apple", "facebook", "google", "amazon")
print(companies_tup[0])
companies_tup[0] = "Microsoft"
print(type(companies_tup))

apple

TypeError: 'tuple' object does not support item assignment

In [73]:
del companies_tup

TypeError: 'tuple' object doesn't support item deletion

In [76]:
companies_tup2 = ("apple", "facebook", "google", "amazon", [1, 2, 3, 4], 1)
type(companies_tup2)
print(companies_tup2[4])

[1, 2, 3, 4]

#### Workout Example to try
1. Create a list
2. Print the 3rd item from last from the above list created
3. Append few additional values to the list
4. Multiple this list by 2 and see what happens
5. Create a tuple and check if you can delete the tuple