In [22]:
import pandas as pd
from sklearn import linear_model # import model for prediction
from sklearn import datasets # imports datasets from scikit-learn
import numpy as np

SKLearn is popular when it comes to machine learning in Python. <br>
It has many learning algorithms, for regression, classification, clustering and dimensionality reduction

In [6]:
data = datasets.load_boston() # loads Boston dataset from datasets library

In [7]:
# define the data/predictors as the pre-set feature names  
df = pd.DataFrame(data.data, columns=data.feature_names)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
# Put the target (housing value -- MEDV) in another DataFrame
target = pd.DataFrame(data.target, columns=["MEDV"])
target.head()

   MEDV
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [10]:
X = df
y = target['MEDV']

In [11]:
lm = linear_model.LinearRegression()
model = lm.fit(X,y)

In [19]:
predictions = lm.predict(X)
print(predictions[0:5])

[30.00384338 25.02556238 30.56759672 28.60703649 27.94352423]

In [24]:
pd.DataFrame(np.column_stack([predictions[0:50], y[0:50]]), columns=['Predicted', 'Actual'])

    Predicted  Actual
0   30.003843    24.0
1   25.025562    21.6
2   30.567597    34.7
3   28.607036    33.4
4   27.943524    36.2
5   25.256284    28.7
6   23.001808    22.9
7   19.535988    27.1
8   11.523637    16.5
9   18.920262    18.9
10  18.999497    15.0
11  21.586796    18.9
12  20.906522    21.7
13  19.552903    20.4
14  19.283482    18.2
15  19.297483    19.9
16  20.527510    23.1
17  16.911401    17.5
18  16.178011    20.2
19  18.406136    18.2
20  12.523858    13.6
21  17.671037    19.6
22  15.832881    15.2
23  13.806285    14.5
24  15.678338    15.6
25  13.386686    13.9
26  15.463977    16.6
27  14.708474    14.8
28  19.547373    18.4
29  20.876428    21.0
30  11.455118    12.7
31  18.059233    14.5
32   8.811057    13.2
33  14.282758    13.1
34  13.706759    13.5
35  23.814635    18.9
36  22.341937    20.0
37  23.108911    21.0
38  22.915026    24.7
39  31.357626    30.8
40  34.215102    34.9
41  28.020564    26.6
42  25.203866    25.3
43  24.609793    24.7
44  22.941492    21.2
45  22.096698    19.3
46  20.423200    20.0
47  18.036551    16.6
48   9.106554    14.4
49  17.206078    19.4

In [16]:
# Accuracy of the model
lm.score(X,y)

0.7406426641094094

In [17]:
lm.coef_

array([-1.08011358e-01,  4.64204584e-02,  2.05586264e-02,  2.68673382e+00,
       -1.77666112e+01,  3.80986521e+00,  6.92224640e-04, -1.47556685e+00,
        3.06049479e-01, -1.23345939e-02, -9.52747232e-01,  9.31168327e-03,
       -5.24758378e-01])

In [18]:
lm.intercept_

36.45948838509001