#### Topics Covered
- Merging / Joining / Combining

In [2]:
#import pandas library and provide alias name as pd
import pandas as pd
import numpy as np

trend_data1 = pd.read_csv('Data/SearchTrendData1.csv')
trend_data2 = pd.read_csv('Data/SearchTrendData2.csv')
print(trend_data1.head())
print(trend_data2.head())

         Week  eLearning  DataScience  MachineLearning
0  20/09/2015         32            9               11
1  27/09/2015         35           10               11
2   4/10/2015         38           10               12
3  11/10/2015         37            9               12
4  18/10/2015         38            9               12
         Week  ArtificialIntelligence  DeepLearning
0  20/09/2015                      11             4
1  27/09/2015                      11             4
2   4/10/2015                      11             4
3  11/10/2015                      10             4
4  18/10/2015                      10             4

1a. Combining datasets

In [4]:
new_data1 = pd.concat([trend_data1, trend_data2])
print(new_data1.head())
print(new_data1.tail())

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
256,16/08/2020,NaN,NaN,NaN,22.0,14.0
257,23/08/2020,NaN,NaN,NaN,21.0,14.0
258,30/08/2020,NaN,NaN,NaN,21.0,14.0
259,6/09/2020,NaN,NaN,NaN,24.0,14.0
260,13/09/2020,NaN,NaN,NaN,21.0,14.0

2a. Using Join to combine them

In [6]:
new_data2 = trend_data1.join(trend_data2, lsuffix='_LEFT', rsuffix='_RIGHT')
# Left suffix and right suffix are used to differentiate the columns that are common
new_data2.head()

,Week_LEFT,eLearning,DataScience,MachineLearning,Week_RIGHT,ArtificialIntelligence,DeepLearning
0,20/09/2015,32,9,11,20/09/2015,11,4
1,27/09/2015,35,10,11,27/09/2015,11,4
2,4/10/2015,38,10,12,4/10/2015,11,4
3,11/10/2015,37,9,12,11/10/2015,10,4
4,18/10/2015,38,9,12,18/10/2015,10,4

2b. Using Join and a common column as key to make the join

In [8]:
new_data3 = trend_data1.set_index('Week').join(trend_data2.set_index('Week'))
new_data3.head()

,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
Week,,,,,
20/09/2015,32,9,11,11,4
27/09/2015,35,10,11,11,4
4/10/2015,38,10,12,11,4
11/10/2015,37,9,12,10,4
18/10/2015,38,9,12,10,4

2c. To preserve the index in the original dataframe then we use below method

In [9]:
new_data4 = trend_data1.join(trend_data2.set_index('Week'), on='Week')
new_data4.head()

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
0,20/09/2015,32,9,11,11,4
1,27/09/2015,35,10,11,11,4
2,4/10/2015,38,10,12,11,4
3,11/10/2015,37,9,12,10,4
4,18/10/2015,38,9,12,10,4

3a. Using Merge to join the datasets

In [12]:
new_data5 = pd.merge(trend_data1, trend_data2, on='Week')
print(new_data5.head())

         Week  eLearning  DataScience  MachineLearning  \
0  20/09/2015         32            9               11
1  27/09/2015         35           10               11
2   4/10/2015         38           10               12
3  11/10/2015         37            9               12
4  18/10/2015         38            9               12

   ArtificialIntelligence  DeepLearning
0                      11             4
1                      11             4
2                      11             4
3                      10             4
4                      10             4

What is the difference Join and Merge?
- Join by default does a left join that is keeps all the  rows of the first dataframe but merge by default will do inner join that only combine the rows that are common
- Join always join via an index whereas merge can be used to join based on any column(s) in the dataframe

In [21]:
t1 = new_data5.loc[[0,1,2,3,4,5],['Week', 'DataScience']]
t2 = new_data5.loc[[4,5,6,7,8,9],['Week', 'DataScience']]
print(t1)
print(t2)

         Week  DataScience
0  20/09/2015            9
1  27/09/2015           10
2   4/10/2015           10
3  11/10/2015            9
4  18/10/2015            9
5  25/10/2015           10
         Week  DataScience
4  18/10/2015            9
5  25/10/2015           10
6   1/11/2015            9
7   8/11/2015            8
8  15/11/2015            9
9  22/11/2015            8

3b. Inner Join

In [22]:
new_data6 = pd.merge(t1, t2, on='Week')
print(new_data6.head())

         Week  DataScience_x  DataScience_y
0  18/10/2015              9              9
1  25/10/2015             10             10

3c. Left Join

In [24]:
new_data7 = pd.merge(t1, t2, on='Week', how='left')
print(new_data7.head(10))

         Week  DataScience_x  DataScience_y
0  20/09/2015              9            NaN
1  27/09/2015             10            NaN
2   4/10/2015             10            NaN
3  11/10/2015              9            NaN
4  18/10/2015              9            9.0
5  25/10/2015             10           10.0

3d. Right Join

In [25]:
new_data8 = pd.merge(t1, t2, on='Week', how='right')
print(new_data8.head(10))

         Week  DataScience_x  DataScience_y
0  18/10/2015            9.0              9
1  25/10/2015           10.0             10
2   1/11/2015            NaN              9
3   8/11/2015            NaN              8
4  15/11/2015            NaN              9
5  22/11/2015            NaN              8

3e. Outter Join

In [26]:
new_data9 = pd.merge(t1, t2, how='outer', on='Week')
print(new_data9.head(15))

         Week  DataScience_x  DataScience_y
0  20/09/2015            9.0            NaN
1  27/09/2015           10.0            NaN
2   4/10/2015           10.0            NaN
3  11/10/2015            9.0            NaN
4  18/10/2015            9.0            9.0
5  25/10/2015           10.0           10.0
6   1/11/2015            NaN            9.0
7   8/11/2015            NaN            8.0
8  15/11/2015            NaN            9.0
9  22/11/2015            NaN            8.0

#### To Try
- Create a subset dataframe from trand_date1 by filtering rows from index 0 to 20 and create an another dataframe by filtering rows from index 10 to 30
- Join the above dataset using 
    - Concat
    - Join (Try inner, left, right)
    - Merge (try inner, left, right, outer)
- Repeat the above tutorial with a new dataset