#### Topics Covered today
- Introduction on how stats used in a Data Science project
- Probability and Non-Probability Sampling
- Examples of probability Based Sampling

In [51]:
import pandas as pd
import numpy as np

In [52]:
original_data = pd.read_csv('../Data/ForSampling.csv')
print(original_data.head())
original_mean = original_data.Weight.mean()
print("Original Mean: ", original_mean)

   ID  Zone  Weight
0   1     5      15
1   2     5      17
2   3     5      16
3   4     5      12
4   5     1      19
Original Mean:  17.5093

Simple Random Sample

In [53]:
# Creating a random sample with 'n' rows
simple_random_sample = original_data.sample(n=150).sort_values(by='ID')
# Calculating the mean for the sample
simple_random_mean = round(simple_random_sample['Weight'].mean(), 2)
print("Simple Random Mean: ", simple_random_mean)

Simple Random Mean:  17.86

Systematic Sampling

In [54]:
# Selects every 7th element
systematic_sample = original_data[original_data.index % 67 == 0]
# Calculating the mean for the sample
systematic_sample_mean = round(systematic_sample['Weight'].mean(), 2)
print("Systematic Sample Mean: ", systematic_sample_mean)

Systematic Sample Mean:  18.06

Cluster Sample Mean

In [55]:
group_size = 100
cluster_sample = original_data
cluster_sample['Group_id'] = np.repeat([range(1,group_size+1)],len(cluster_sample)/group_size)
cluster_sample.tail()

         ID  Zone  Weight  Group_id
9995   9996     1      21       100
9996   9997     2      13       100
9997   9998     5      14       100
9998   9999     2      25       100
9999  10000     2      22       100

In [56]:
cluster_sample_selection = cluster_sample[cluster_sample.Group_id % 41 == 0]
# Calculating the mean for the sample
cluster_sample_selection_mean = round(cluster_sample_selection['Weight'].mean(), 2)
print("Cluster Sample Mean: ", cluster_sample_selection_mean)

Cluster Sample Mean:  17.88

Multi-Stage Cluster Mean??

Stratified Sampling

In [57]:
original_data.head()

   ID  Zone  Weight  Group_id
0   1     5      15         1
1   2     5      17         1
2   3     5      16         1
3   4     5      12         1
4   5     1      19         1

In [84]:
N = 150
strat_sample = original_data.groupby('Zone', group_keys=False).apply(lambda x: x.sample(int(np.rint(N*len(x)/len(original_data))))).sample(frac=1).reset_index(drop=True)

# Calculating the mean for the sample
strat_sample_mean = round(strat_sample['Weight'].mean(), 2)
print("Stratefied Sample Mean: ", strat_sample_mean)

Stratefied Sample Mean:  17.84

Checking sample selection in stratified Sampling Method

In [96]:
#Original Data Distribution
zone_dist = original_data.groupby('Zone').ID.count()
z1 = pd.DataFrame(zone_dist)
z1.columns = ['Count']
z1['Original Distribution'] = np.around((z1['Count']/len(original_data)), 2)*100

#Stratefied Sample Data Distribution
zone_dist_strat = strat_sample.groupby('Zone').ID.count()
z2 = pd.DataFrame(zone_dist_strat)
z2.columns = ['Count']
z2['Sample Distribution'] = np.around((z2['Count']/len(strat_sample)), 2)*100

#Merging Both
combined = pd.merge(z1, z2, on='Zone')
print(combined.head())

      Count_x  Original Distribution  Count_y  Sample Distribution
Zone
1        1962                   20.0       29                 19.0
2        1975                   20.0       30                 20.0
3        1994                   20.0       30                 20.0
4        1926                   19.0       29                 19.0
5        2143                   21.0       32                 21.0