#### Topics to be covered today
1. List
    - Commonly used
    - Sortable
    - Sequence Type
    - Mutable (Can add or change)
2. Tupples
    - Immutable
    - Useful where the data doesn't change
    - Faster than list
    - Sequence Type
    
- Both can hold any values like integer, string or both

1a. Creating a list

In [1]:
companies = ["apple", "facebook", "google", "amazon"]
type(companies)

list

1b. Reading the elements

In [2]:
print(companies[0])

apple

In [3]:
print(companies[0:3:2])

['apple', 'google']

1c. Negative indexing mean

In [4]:
print(companies[-3])

facebook

In [5]:
print(companies[-3:])

['facebook', 'google', 'amazon']

In [6]:
print(companies[:-2])

['apple', 'facebook']

1d. Range of values and with negative indexing

In [7]:
print(companies[1:3])

['facebook', 'google']

1e. Adding an item (Append and Insert)

In [8]:
companies.append("Tesla")
print(companies)

['apple', 'facebook', 'google', 'amazon', 'Tesla']

In [9]:
companies.insert(2, "Microsoft")
print(companies)

['apple', 'facebook', 'Microsoft', 'google', 'amazon', 'Tesla']

1f. Removing, deleting and pop

In [10]:
companies.remove("Tesla")
print(companies)

['apple', 'facebook', 'Microsoft', 'google', 'amazon']

In [11]:
companies.append("Tesla")
companies.append("Tesla")
print(companies)

['apple', 'facebook', 'Microsoft', 'google', 'amazon', 'Tesla', 'Tesla']

In [12]:
del companies[5]
print(companies)

['apple', 'facebook', 'Microsoft', 'google', 'amazon', 'Tesla']

In [13]:
companies.pop(2)
print(companies)

['apple', 'facebook', 'google', 'amazon', 'Tesla']

1g. Copy a list - Why?

In [14]:
companies1 = companies
companies2 = companies.copy()
# Talk about the is function
print(companies is companies1)
print(companies is companies2)

True
False

In [15]:
print(companies1)
print(companies2)

['apple', 'facebook', 'google', 'amazon', 'Tesla']
['apple', 'facebook', 'google', 'amazon', 'Tesla']

In [16]:
companies.append("Zoom")
print(companies1)
print(companies2)

['apple', 'facebook', 'google', 'amazon', 'Tesla', 'Zoom']
['apple', 'facebook', 'google', 'amazon', 'Tesla']

1h. Combine lists

In [17]:
companies3 = companies1 + companies2
print(companies3)

['apple', 'facebook', 'google', 'amazon', 'Tesla', 'Zoom', 'apple', 'facebook', 'google', 'amazon', 'Tesla']

In [18]:
companies3 = companies1 + companies2 + 1
print(companies3)

TypeError: can only concatenate list (not "int") to list

1i. Sorting

In [19]:
print(sorted(companies3))

['Tesla', 'Tesla', 'Zoom', 'amazon', 'amazon', 'apple', 'apple', 'facebook', 'facebook', 'google', 'google']

1j. Clearing the ist

In [20]:
companies3.clear()
print(companies3)

[]

1k. Other Operations

In [21]:
companies = ["apple", "facebook", "google", "amazon"]

In [22]:
print(companies*2)

['apple', 'facebook', 'google', 'amazon', 'apple', 'facebook', 'google', 'amazon']

In [23]:
print(min(companies))
# Try max

amazon

2a. Tuples

In [24]:
companies_tup = ("apple", "facebook", "google", "amazon")
print(type(companies_tup))

<class 'tuple'>

2b. Trying to replace a tuple element

In [25]:
companies_tup = ("apple", "facebook", "google", "amazon")
print(companies_tup[0])
companies_tup[0] = "Microsoft"
print(type(companies_tup))

apple

TypeError: 'tuple' object does not support item assignment

In [26]:
del companies_tup[0]

TypeError: 'tuple' object doesn't support item deletion

#### Workout Example to try
1. Create a list
2. Print the 3rd item from last from the above list created
3. Append few additional values to the list
4. Multiple this list by 2 and see what happens
5. Create a tuple and check if you can delete the tuple