In [14]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

from numpy.polynomial.polynomial import polyfit
import matplotlib.pyplot as plt

import seaborn as sns

In [15]:
# Adding more variables
no_of_projects = np.array([5, 11, 15, 19, 23, 25])
years_of_exp = np.array([1, 2, 2, 3, 7, 11])
courses = np.array([2, 3, 3, 3, 2, 2])
salary = np.array([80000, 90000, 97000, 110000, 118000, 150000])

In [16]:
# Checking the dataset
dataset = pd.DataFrame({'no_of_projects': no_of_projects, 'years_of_exp': years_of_exp, 'courses': courses, 'salary': salary}, columns=['no_of_projects', 'years_of_exp', 'courses','salary'])
dataset

   no_of_projects  years_of_exp  courses  salary
0               5             1        2   80000
1              11             2        3   90000
2              15             2        3   97000
3              19             3        3  110000
4              23             7        2  118000
5              25            11        2  150000

In [17]:
# initial the model
reg_model = LinearRegression()

In [18]:
# Fit the model based on training dataset
reg_model.fit(dataset[['no_of_projects', 'years_of_exp', 'courses']], dataset.salary)

LinearRegression()

In [22]:
# Sample data to test the prediction
arr1 = [[7,13,19],[3,3,3]]
to_predict = pd.DataFrame(arr1)

array([286996.68599834,  96376.13918807])

In [23]:
to_predict

   0   1   2
0  7  13  19
1  3   3   3

In [24]:
# Model prediction
y_pred = reg_model.predict(to_predict)
y_pred

array([286996.68599834,  96376.13918807])

In [25]:
# Intercept and the Slope for the Model built
print('intercept:', reg_model.intercept_)
print('slope:', reg_model.coef_)

intercept: 52759.32062966034